@import "typography.scss";
@import "variables.scss";
@import "lightmode.scss";
@import "darkmode.scss";

* {
    transition: all 300ms ease-in-out;
}

.sun-icon,
.moon-icon {
    animation: fade 200ms;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}