.dark-mode {
    background-color: $black;

    p,
    a {
        color: $white;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $white;
    }

    .slider-link {
        position: relative;
        z-index: 2;
        background-color: $black;
    }

    .invert-mode {
        color: $white;
    }

    .dark-btn {
        color: $white;
    }

    .gap-color {
        background-color: black;
        border-radius: 27px;
    }

    .changeable-svg {
        path {
            transition: all 250ms ease-in-out;
            fill: $white;
        }
    }

    .social-svg {
        &:hover path {
            fill: $sky-blue;
        }
    }

    .bg-shapes path {
        fill: rgba(255, 255, 255, 0.2) !important;
    }

    .mode-toggle-btn {
        font-family: $body;
        color: $white;
    }

    .project-tag {
        border: 1px solid $white;
    }

    //==== Panel colors ====//
    .panel-intro,
    .panel-about,
    .panel-mystery,
    .panel-contact,
    .panel-stack,
    .panel-exp,
    .panel-cvd,
    .panel-escabee,
    .panel-osky,
    .panel-atoda {
        background-color: $black;

        .button-primary {
            background-color: $orange;
            color: $white;
            border: 2px solid $white;
            box-shadow: 0px 5px 0px 0px $white;

            &:hover {
                transform: translateY(5px);
                box-shadow: 0px 0px 0px 0px rgb(23 23 23);
                background-color: #d83713;
            }
        }
    }

    .panel-mystery {
        cursor: help;

        &:hover {
            background-color: $energy-lime;
            animation: energyPulse 3s ease-in-out infinite;
        }

        &:hover path {
            fill: $black;
        }

        @keyframes energyPulse {
            0% {
                box-shadow: 0px 0px 120px 15px rgba(250,255,0,1);
            }

            50% {
                box-shadow: 0px 0px 180px 120px rgba(250,255,0,1);
            }

            100% {
                box-shadow: 0px 0px 120px 15px rgba(250,255,0,1);
            }
        }
    }

    .personal {
        background-color: $dark-teal !important;
    }

    .panel-intro {
        h1 {
            color: $orange;
        }
    }

    .panel-stack {
        padding-right: 0 !important;
        padding-left: 0 !important;
        overflow: hidden;

        &::before {
            position: absolute;
            pointer-events: none;
            z-index: 99;
            content: '';
            left: 0;
            width: 30%;
            height: 100%;
            background: linear-gradient(90deg, rgba(23, 23, 23, 1) 10%, rgba(23, 23, 23, 0) 100%);
        }

        &::after {
            position: absolute;
            pointer-events: none;
            z-index: 99;
            content: '';
            right: 0;
            width: 30%;
            height: 100%;
            background: linear-gradient(90deg, rgba(23, 23, 23, 0) 0%, rgba(23, 23, 23, 1) 90%);
        }
    }
}