.light-mode {
    background-color: $white;

    //==== General ====//
    p,
    a {
        color: $black;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $black;
    }

    .slider-link {
        position: relative;
        z-index: 2;
        background-color: $sky-blue;
    
        &::after {
            z-index: -1;
            opacity: 0;
            content: '';
            position: absolute;
            bottom: -1px;
            right: 0px;
            transition: all 0.3s ease;
            display: block;
            background: url(../img/hand-point.webp) no-repeat center center;
            background-size: cover;
            width: 20px;
            height: 20px;
        }
    
        &:hover::after {
            right: -30px;
            opacity: 1;
        }
    }

    .invert-mode {
        color: $white;
    }

    .dark-btn {
        color: $black;
    }

    .gap-color {
        background-color: $black;
        border-radius: 27px;
    }

    .changeable-svg {
        path {
            transition: all 250ms ease-in-out;
            fill: $black;
        }
    }

    .social-svg {
        &:hover path {
            fill: $white;
        }
    }

    .bg-shapes path {
        fill: rgba(0, 0, 0, 0.2) !important;
    }

    .mode-toggle-btn {
        font-family: $body;
        color: $black;
    }

    .project-tag {
        border: 1px solid $black;
    }

    //==== Panels ====//
    .panel-intro {
        background-color: $orange;

        .button-primary {
            background-color: $white;
            color: $black;
            border: 2px solid $black;
            box-shadow: 0px 5px 0px 0px $black;

            &:hover {
                transform: translateY(5px);
                box-shadow: 0px 0px 0px 0px rgb(23 23 23);
                background-color: #bdbdbd;
            }
        }
    }

    .panel-about {
        background-color: $teal;
    }

    .panel-mystery {
        background-color: $energy-lime;
    }

    .panel-contact {
        background-color: $sky-blue;
    }

    .panel-stack {
        overflow: hidden;
        background-color: $white;
        padding-left: 0 !important;
        padding-right: 0 !important;

        &::before {
            position: absolute;
            pointer-events: none;
            z-index: 99;
            content: '';
            left: 0;
            width: 30%;
            height: 100%;
            background: linear-gradient(90deg, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 100%);
        }

        &::after {
            position: absolute;
            pointer-events: none;
            z-index: 99;
            content: '';
            right: 0;
            width: 30%;
            height: 100%;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 90%);
        }
    }

    .panel-exp {
        background-color: $purple;
    }

    .panel-cvd {
        background-color: $light-lime;
    }

    .panel-naati {
        background-color: $dark-teal;
    }

    .panel-osky {
        background-color: $light-purple;
    }

    .panel-atoda {
        background-color: $light-orange;
    }
}